<div class="row">
  <div class="col-xs-12">
    <div class="jumbotron quick-light">
      <h1 align="center" class="QuickSandLight">¡Bienvenido!</h1>

      <div class="row">
        <div class="col-xs-4 col-xs-offset-8">
          <h4 class="registro quick-light"><%= link_to 'Registro', new_user_registration_path,
                                      class: 'link-registro' %></h4>
        </div>
      </div><!--row-->

      <div class="row">
        <div class="col-xs-4">
          <h4 class="quick-light"><%= link_to 'Iniciar Sesión', new_user_session_path, class: 'login' %></h4>
        </div>
      </div><!--row-->
    </div><!--jumbotron-->
  </div><!--col-xs-12-->
</div><!--row-->
