// Place all the styles related to the securities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* securities#index */
.security-index {
  background-image: asset-url('security2.jpg');
  background-size: 100%;
  height: 648px;
}

.card-row {
  margin-top: 20px;
}

.card-table td {
  text-align: center;
}
/* FIN securities#index */

.user_ques-new {
  background-image: asset-url('keyboardlockchain.jpg');
  background-size: 100%;
  height: 648px;
}

.question-index {
  background-image: asset-url('keyboardlockchain.jpg');
  background-size: 100%;
  height: 648px;
}

