<div class="row product-new">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-12">
        <div class="page-header">
          <h1 align="center" class="quick-regular white">
            Agrega tus productos. <small class="white">Tu información está segura con nosotros.</small>
          </h1>
        </div>
      </div><!--col-xs-12-->
    </div><!--row-->
    
    <%= render 'products/form' %>
  </div><!--col-xs-12-->
</div><!--row product-new-->