<div class="row role-new">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-12">
        <div class="page-header">
          <h1 align="center" class="quick-regular white">
            Crea y administra tus Operaciones.
          </h1>
        </div>
      </div><!--col-xs-12-->
    </div><!--row-->
    
    <%= render 'operations/form' %>
  </div>
</div>