<div class="row registration-new">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-12">
        <div class="page-header">
          <% if current_user %>
            <h1 align="center" class="quick-light white">
              ¡Agrega Usuarios Administradores!
            </h1>
          <% else %>
            <h1 align="center" class="quick-light white">
              ¡Forma parte de nuestra inmensa clientela!
            </h1>
          <% end %>
        </div>
      </div>
    </div>
    
    <%= render 'users/form' %>
  </div><!--col-xs-12-->
</div><!--row registration-new-->